@import url('https://fonts.googleapis.com/css2?family=Sahitya:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  background-color: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

body {
  overflow-x: hidden;
  background-color: #F3F3F3;
}

.head {
  justify-content: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 40px;
  padding-top: 45px;
  text-align: center;
  background-color: rgba(0,0,0,0);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background-color: white;
  position: fixed;
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  letter-spacing: .5px;
  transition: all 0.3s ease;
}

header.sticky {
  height: 100px;
  position: fixed;
}

header .logo {
  cursor: pointer;
  padding: 0;
  position: relative;
}

header .logo img{
  width: 150px;
  height: 150px;
  transition: all 0.3s ease;
}

header.sticky .logo img{
  height: 75px;
  width: 75px;
}

.nav__links a,
.cta,
.overlay__content a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: black;
  text-decoration: none;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links li {
  padding: 0px 15px;
}

header.sticky .nav__links li {
  padding: 0px 7.5px;
}

.nav__links li a {
  transition: color 0.3s ease 0s;
  font-size: 22.5px;
}

header.sticky .nav__links li a {
  font-size: 17.5px;
}

.nav__links li a:hover {
  color: gray;
}

.cta {
  padding: 12.5px 29px;
  background-color: #1C5649;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
}

.cta:hover {
  background-color: rgba(0, 188, 107, 0.8);
}

header.sticky .cta {
  padding: 10px 25px;
}

/* Mobile Nav */

.menu {
  display: none;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #24252a;
  overflow-x: hidden;
  transition: width 0.5s ease 0s;
}

.overlay--active {
  width: 100%;
}

.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: color 0.3s ease 0s;
  color: white;
}

.overlay a:hover,
.overlay a:focus {
  color: #0088a9;
}
.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #edf0f1;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media only screen and (max-width: 1150px) {
  .nav__links,
  .cta {
    display: none;
  }
  .menu {
    display: initial;
  }
}

/* Background */

.background {
  width: 100%;
  height: 85vh;
  background: rgba(0, 0, 0, 0.5) url(images/background-img.jpg) no-repeat 50% 50%;
  background-position-y: center ;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: darken;
}

.welcome-text {
  position: absolute;
  color: #ffffff;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: Sahitya;
  font-size: 100px;
  font-style: bold;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: 2px;
  text-align: left;
  margin-top: 50vh;
  margin-left: 12.5vh;
}

.welcome-text span {
  color: #DA8300;
  font-size: 75px;
  letter-spacing: 0px;
  font-style: normal;
  font-family: Sahitya;
}

/* Our impact */

#our-impact {
  height: 258px;
  background-color: #1C5649;
}

.green-rect {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center; 
  text-align: center;
  margin-right: 3rem;
  margin-left: 3rem;
}

.text {
  color: #ffffff;
  margin-top: 100px;
}

.text h1{
  font-size: 25px;
}

.text p{
  margin-top: 15px;
  font-size: 15.25px;
  text-decoration: none;
}

.anchor a {
  background-color: transparent;
  color: #fff;
  font-size: 14px;
}

.anchor a:hover {
  text-decoration: none;
}

@media screen and (max-width: 750px) {
  #our-impact {
      height: 350px;
  }

  .green-rect {
      margin-top: 2.5rem;
  }

  .outer-most-6 {
      display: flex; 
      flex-direction: column; 
      align-items: center; 
  }
}

/* Our work */

  #our-work {
    height: 900px;  
  }

  .title {
    color: #005A2F;
    font-size: 67px;
    font-family: Sahitya;
    font-style: normal;
    font-weight: 700;
    line-height: 90px;
    text-align: center;
    margin-top: 3vh;
    margin-bottom: 3vh;
  }

  .image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    grid-gap: 25px;
  }
  
  .image-grid img {
    height: 300px;
    object-fit: cover;
    width: 100%;
  }
  
  .image-grid .image-heading {
    position: absolute;
    color: #fff;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
  }
/* Get involved section */

#get-involved {
  height: 515px;
  background-color: #1C5649;
  color: #ffffff;
}

.title-get-involved {
  padding-left: 1.5em;
  padding-top: 1em;
  color: #FFF;
  font-family: Schoolbell;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 90px;
}

.outer-most-5 {
  background-color: rgba(0, 0, 0, 0);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center; 
  text-align: center;
  margin-right: 6rem;
  margin-left: 6rem;
}

.outer-rect-4 {
  margin-top: 4.25rem;
  color: #ffffff;
}

.outer-rect-4 i{
  font-size: 125px;
}

.outer-rect-4 h1{
  font-size: 25px;
}

.detail-9 {
  padding: 1.75rem;
}

.outer-rect-4 p{
  margin-top: 15px;
  font-size: 15.25px;
  text-decoration: none;
}

.detail-3 a {
  background-color: transparent;
  color: #fff;
  font-size: 14px;
}

.detail-3 a:hover {
  text-decoration: none;
}

@media screen and (max-width: 1000px) {
  #get-involved {
      height: 500px;
  }
  
  .heading-9 {
      padding-left: 2em;
      padding-top: 2em;
      font-size: 35px;
  }
  
  .outer-most-5 {
      margin-right: 4rem;
      margin-left: 4rem;
  }
  
  .outer-rect-4 {
      margin-top: 4.25rem;
      color: #ffffff;
  }
  
  .outer-rect-4 i{
      font-size: 100px;
  }
  
  .outer-rect-4 h1{
      font-size: 25px;
  }
}

@media screen and (max-width: 840px) {
  #get-involved {
      height: 850px;
  }
  
  .heading-9 {
      padding-left: 2.5em;
      padding-top: 2em;
      font-size: 30px;
  }
  
  .outer-most-5 {
      margin-right: 3.5rem;
      margin-left: 3.5rem;
      display: block;
  }
  
  .outer-rect-4 {
      margin-top: 2rem;
      color: #ffffff;
  }
  
  .outer-rect-4 i{
      font-size: 80px;
  }
  
  .outer-rect-4 h1{
      font-size: 22.5px;
  }
}

@media screen and (max-width: 366px) {
  #get-involved {
      height: 900px;
  }
}

/* What we do */

#what-we-do {
  height: 850px;
}

#what-we-do h1 {
  color: #005A2F;
  text-align: center;
  font-family: Satisfy;
  font-size: 95px;
  font-style: normal;
  font-weight: 400;
  line-height: 90px;
  margin-top: 60px;
  margin-bottom: 25px;
}

#what-we-do p {
  color: #005E31;
  text-align: center;
  font-family: Sanchez;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 67.5px;
  letter-spacing: 2px;
  display: flex;
  justify-content: center; 
  align-items: center; 
  width: 875px;
  margin: 0 auto; 
  flex-direction: column;
}

/* Subscribe */

#subscribe {
  display: flex;
  align-items: center;
  background: #1C5649;
  height: 365px;
}

.box {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-left {
  display: flex;
  flex-direction: column; /* Display the content in a column */
  justify-content: center; /* Center the content vertically */
  align-items: center; /* Center the content horizontally */
  text-align: center; /* Center the text within the div */
  padding-left: 125px;
}

.box-left h1 {
  color: #FFF;
  font-family: Sahitya;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 90px;
  letter-spacing: 1.5px;
}

.box-left p {
  color: #FFF;
  text-align: center;
  font-family: Sanchez;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; 
  letter-spacing: 2px;
  margin-top: 10px;
}

.box-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 125px;
}

#my-form {
  display: flex;
  align-items: center;
  width: 500px;
  height: 85px;
  background-color: #EBEBEB;
  border-radius: 45px;
  padding: 15px;
}

#my-form input[type="email"] {
  flex-grow: 1;
  border: none;
  padding: 15px;
  font-size: 20px;
  background-color: transparent;
}

#my-form button {
  width: 60px;
  height: 60px;
  background-color: #E88B00;
  border-radius: 50%;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #FFF;
  text-align: center;
  font-family: Sanchez;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; 
  letter-spacing: 1.33px;
  cursor: pointer;
  transition: background-color 0.4s ease; 
}

#my-form button:hover {
  background-color: #9a5d00;
}

#my-form .icon-mail {
  width: 47.5px;
  height: 47.5px;
  margin-right: 10px;
}

.hr-left {
  height: 25px;
  border: none;
  border-left: 1px solid gray;
  margin-right: 10px;
}

.hr-right {
  height: 25px;
  border: none;
  border-left: 1px solid gray;
  margin-right: 10px;
}


#my-form input::placeholder {
  color: #888;
  text-align: center;
  font-family: Sanchez;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  margin-right: 6px;
  width: 100%;
}

@media screen and (max-width:1325px) {
  .box-right {
    padding-right: 50px;
  }

  .box-left {
    padding-left: 50px;
  }
}

@media screen and (max-width:1150px) {
  .box-right {
    padding-right: 20px;
  }

  .box-left {
    padding-left: 2px;
  }
}

@media screen and (max-width: 1035px) {
  #subscribe {
    flex-direction: column;
    height: 375px;
  }

  .box {
    flex-grow: 1;
  }

  .bottom {
    padding-bottom: 50px;
  }

  .top {
    padding-top: 50px;
  }
}

/* Contact */

#contact {
  height: 550px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  border-radius: 10px;
  margin-top: 50px;
}

.form-group {
  margin-top: 16px;
  font-size: 18.5px;
  width: 50%; /* Occupy right half of the screen */
}

.form-group label {
  color: #000;
  text-align: center;
  font-family: Sanchez;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; 
}

.form-group input,
.form-group textarea {
  width: 150%;
  padding: 5px;
  color: #222;
  border: none;
  margin-top: 6px;
  background-color: #DEDEDE;
}

.form-group input {
  font-size: 25px;
  height: 38px;
}

.form-group input::placeholder {
  color: rgba(0, 0, 0, 0.50);
  font-family: Sanchez;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; 
}

.form-group textarea::placeholder {
  color: rgba(0, 0, 0, 0.50);
  font-family: Sanchez;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; 
}

textarea {
  resize: vertical;
}

button[type="submit"]{
  width: 35%;
  border: 2px solid black;
  padding: 14px;
  font-size: 15px;
  font-family: 'Montserrat';
  color: #222;
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
  transition: .3s ease background-color;
  letter-spacing: 1.5px;
}

button[type="submit"]:hover{
  background-color: black;
  color: white;
}

#status {
  z-index: 0;
  position: relative;
  width: 100%;
  font-size: 15px;
  color: #222;
  text-align: center;
  transition: .1s ease background-color;
  background-color: rgba(0, 0, 0, 0);
}

.text-contact {
  text-align: center;
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0);
  width: 30%; 
  margin-right: 100px; 
}

.text-contact h2 {
  color: #000;
  text-align: center;
  font-family: Sanchez;
  font-size: 70px;
  font-style: normal;
  font-weight: 400;
  line-height: 85px; /* 121.429% */
  letter-spacing: 4.9px;
}

.text-contact p {
  display: block;
  margin: 35px 1em 0 1.15em;
  color: #000;
  text-align: center;
  font-family: Sanchez;
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
  line-height: 37.5px; 
  letter-spacing: 0.27px;
}

@media screen and (max-width:1350px) {
  #contact {
      height: 650px;
  }
}

@media screen and (max-width:1075px) {
  #contact {
      height: 750px;
  }
}

@media screen and (max-width: 1000px){

  #contact {
      height: 900px;
  }
  
  #contact h1 {
      font-size: 70px;
  }

  .container {
      flex-direction: column;
      width: 100%;
      align-items: center;
      justify-content: center;
      text-align: left;
  }

  .text {
      width: 100%;
      align-items: center;
      justify-content: center;
      text-align: center; 
  } 

  .form-group {
      width: 95%;
      margin-left: 10px;
  }

  .form-group input,
  .form-group textarea {
      width: 100%;
  }

  button {
      position: relative;
      margin-left: 15px;
  }
}

@media screen and (max-width: 815px){

  #contact {
      height: 1000px;
  }
}

@media screen and (max-width: 500px){

  #contact {
      height: 1100px;
  }
}

@media screen and (max-width: 365px){

  #contact {
      height: 1150px;
  }
}

/* Footer */

#footer {
  background-color: #969696;
  height: 100px;
}

#footer .nav-bar {
  background-color: transparent;
}

#footer .nav-bar ul {
  background-color: transparent;
  text-align: center;
  justify-content: center;
  margin: 0;
  padding: 15px;
  display: flex;
}

#footer .nav-bar ul li {
  background-color: transparent;
  list-style: none;
}

#footer .nav-bar ul li a {
  background-color: transparent;
  text-decoration: none;
  font-size: 11px;
  padding: 15px;
  color: #1a1a1a;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#footer .nav-bar ul li a:hover {
  color: grey;
}

@media screen and (max-width: 875px) {
  #footer {
      height: 270px;
  }

  #footer .nav-bar ul {
      display: block;
  }

  #footer .nav-bar ul li {
      margin-top: 12px;
  }
}

@media screen and (max-width: 320px) {
  #footer {
    height: 300px;
  }
}

@media screen and (max-width: 175px) {
  #footer {
    height: 325px;
  }
}

hr.rounded {
  border-top: 4px solid darkgray;
  border-radius: 10px;
  width: 85%;
  margin: auto;
}

.link {
  background-color: transparent;
  text-align: center;
  padding: 8.5px;
  color: white;
  font-size: 14px;
}

.link a {
  background-color: transparent;
  color: #fff;
  font-size: 14px;
}

.link a:hover {
  text-decoration: none;
}

/* Back to top button */ 

#progress {
  position: fixed;
  bottom: 50px;
  right: 50px;
  height: 65px;
  width: 65px;
  display: none;
  z-index: 1;
  place-items: center;
  box-shadow: 0 0 8.5px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
#progress-value {
  display: block;
  height: calc(100% - 15px);
  width: calc(100% - 15px);
  background-color: #ffffff;
  z-index: 1;
  display: grid;
  place-items: center;
  font-size: 35px;
  color: #001a2e;
}

@media screen and (max-width: 1250px) {
  #progress {
      right: 30px;
      bottom: 30px;
      height: 50px;
      width: 50px;
  }

  #progress-value {
      font-size: 25px;
  }
}

@media screen and (max-width: 400px) {
  #progress {
      right: 25px;
      bottom: 25px;
      height: 40px;
      width: 40px;
  }

  #progress-value {
      font-size: 20px;
      height: calc(100% - 10px);
      width: calc(100% - 10px);
  }
}

