@import url('https://fonts.googleapis.com/css2?family=Sahitya:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  background-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

body {
  overflow-x: hidden;
}

.head {
  justify-content: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 40px;
  padding-top: 45px;
  text-align: center;
  background-color: rgba(0,0,0,0);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background-color: white;
  position: fixed;
  width: 100%;
  height: 175px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  letter-spacing: .5px;
  transition: all 0.3s ease;
}

header.sticky {
  height: 100px;
  position: fixed;
}

header .logo {
  cursor: pointer;
  padding: 0;
  position: relative;
}

header .logo img{
  width: 150px;
  height: 150px;
  transition: all 0.3s ease;
}

header.sticky .logo img{
  height: 75px;
  width: 75px;
}

.nav__links a,
.cta,
.overlay__content a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: black;
  text-decoration: none;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links li {
  padding: 0px 15px;
}

header.sticky .nav__links li {
  padding: 0px 7.5px;
}

.nav__links li a {
  transition: color 0.3s ease 0s;
  font-size: 22.5px;
}

header.sticky .nav__links li a {
  font-size: 17.5px;
}

.nav__links li a:hover {
  color: gray;
}

.cta {
  padding: 12.5px 29px;
  background-color: lightgreen;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
}

.cta:hover {
  background-color: rgba(0, 188, 107, 0.8);
}

header.sticky .cta {
  padding: 10px 25px;
}

/* Mobile Nav */

.menu {
  display: none;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #24252a;
  overflow-x: hidden;
  transition: width 0.5s ease 0s;
}

.overlay--active {
  width: 100%;
}

.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: color 0.3s ease 0s;
  color: white;
}

.overlay a:hover,
.overlay a:focus {
  color: #0088a9;
}
.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #edf0f1;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media only screen and (max-width: 1150px) {
  .nav__links,
  .cta {
    display: none;
  }
  .menu {
    display: initial;
  }
}

/* Background */

.background {
  width: 100%;
  height: 85vh;
  background: rgba(0, 0, 0, 0.5) url(images/background-img.jpg) no-repeat 50% 50%;
  background-position-y: center ;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: darken;
}

.welcome-text {
  position: absolute;
  color: #ffffff;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: Sahitya;
  font-size: 100px;
  font-style: bold;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: 2px;
  text-align: left;
  margin-top: 50vh;
  margin-left: 12.5vh;
}

.welcome-text span {
  color: #DA8300;
  font-size: 75px;
  letter-spacing: 0px;
  font-style: normal;
  font-family: Sahitya;
}

/* Our impact */

#our-impact {
  height: 258px;
  background-color: #1C5649;
}

.green-rect {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center; 
  text-align: center;
  margin-right: 3rem;
  margin-left: 3rem;
}

.text {
  color: #ffffff;
  margin-top: 100px;
}

.text h1{
  font-size: 25px;
}

.text p{
  margin-top: 15px;
  font-size: 15.25px;
  text-decoration: none;
}

.anchor a {
  background-color: transparent;
  color: #fff;
  font-size: 14px;
}

.anchor a:hover {
  text-decoration: none;
}

@media screen and (max-width: 750px) {
  #our-impact {
      height: 350px;
  }

  .text {
      margin-top: 2.5rem;
  }

  .outer-most-6 {
      display: flex; 
      flex-direction: column; 
      align-items: center; 
  }
}

/* Our work */

  #our-work {
    height: 500px;  
  }

  .title {
    color: #005A2F;
    font-size: 67px;
    font-family: Sahitya;
    font-style: normal;
    font-weight: 700;
    line-height: 90px;
    text-align: center;
    margin-top: 3vh;
  }

/* Begin Footer */

#footer {
  background-color: #969696;
  height: 100px;
}

#footer .nav-bar {
  background-color: transparent;
}

#footer .nav-bar ul {
  background-color: transparent;
  text-align: center;
  justify-content: center;
  margin: 0;
  padding: 15px;
  display: flex;
}

#footer .nav-bar ul li {
  background-color: transparent;
  list-style: none;
}

#footer .nav-bar ul li a {
  background-color: transparent;
  text-decoration: none;
  font-size: 11px;
  padding: 15px;
  color: #1a1a1a;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#footer .nav-bar ul li a:hover {
  color: grey;
}

@media (max-width: 800px){
  #footer {
      height: 100px;
  }

  #footer .nav-bar ul {
      display: block;
  }

  #footer .nav-bar ul li {
      margin-top: 12px;
  }
}

hr.rounded {
  border-top: 4px solid darkgray;
  border-radius: 10px;
  width: 85%;
  margin: auto;
}

.link {
  background-color: transparent;
  text-align: center;
  padding: 8.5px;
  color: white;
  font-size: 14px;
}

.link a {
  background-color: transparent;
  color: #fff;
  font-size: 14px;
}

.link a:hover {
  text-decoration: none;
}

/* End Footer */

/* Begin back to top button */ 

#progress {
  position: fixed;
  bottom: 50px;
  right: 50px;
  height: 65px;
  width: 65px;
  display: none;
  z-index: 1;
  place-items: center;
  box-shadow: 0 0 8.5px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
#progress-value {
  display: block;
  height: calc(100% - 15px);
  width: calc(100% - 15px);
  background-color: #ffffff;
  z-index: 1;
  display: grid;
  place-items: center;
  font-size: 35px;
  color: #001a2e;
}

@media screen and (max-width: 1250px) {
  #progress {
      right: 30px;
      bottom: 30px;
      height: 50px;
      width: 50px;
  }

  #progress-value {
      font-size: 25px;
  }
}

@media screen and (max-width: 400px) {
  #progress {
      right: 25px;
      bottom: 25px;
      height: 40px;
      width: 40px;
  }

  #progress-value {
      font-size: 20px;
      height: calc(100% - 10px);
      width: calc(100% - 10px);
  }
}

.check {
  height: 1000px;
}